.SegmentedField {
  width: auto;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}
